{% form_theme form 'bootstrap_5_layout.html.twig' %}
<br>
<div class="contaienr">

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>