{% extends 'base.html.twig' %}

{% block title %}Hello CommandeController!{% endblock %}

{% block body %}
<h2 style="text-align:center">Commande Validée <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
  <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
</svg></h2>
<div class="container">
    <div class="container">
    <div class="card" style="text-align:center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Commande N°: {{ order[0]["commande_id"] }}</h5>
    <br>
    <table class="table table-bordered">
  <thead>

  {% for orders in order %}
    <tr>
      <th scope="col">{{ orders.article_id }}</th>
      <th scope="col"><img src="{{ orders.photo }}" alt="" style="max-width: 100px; max-height: 100px;">
</th>
      <th scope="col">{{ orders.quantite }}</th>
     
    </tr>
    {% endfor %}
  </thead>
  <tbody>
    <br />
  
  </tbody>
</table>
    <a href="/" class="btn btn-primary">Revenir à mes achats</a>
  </div>
</div>
    </div>
</div>
{% endblock %}
