{% extends 'base.html.twig' %}
{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<br><br>
<img style="width:40%;position:relative;left:30%;" src="https://cdn2.downdetector.com/static/uploads/logo/Spotify_Logo_RGB_Green.png" alt="">
<br><br><br>
<div class="container">

 {{ form_start(form) }}
    <div class="form-group">

       {{ form_widget(form.search, {'attr': {'class': 'form-control','placeholder':'Entrez le titre de la musique'}}) }}
     
    </div>
    <button type="submit" class="btn btn-primary">Rechercher</button>
  {{ form_end(form) }}
  </div>
</div> 
{% endblock %}
